* {
    box-sizing: border-box;
}

.div-post-edit {
    margin: 0 2.5%;
}

#post-title {
    margin: auto;
    width: auto;
    padding: 10px;
    text-align: center;
}

#post-author {
    display: inline-block;
}

.div-post-edit .btns {
    width: fit-content;
    height: max-content;
    margin: 2px;
    padding: 5px;
    ;
    background-color: rgb(253, 56, 89);
    box-shadow: 0px 12px 10px -8px rgb(247, 84, 111);
    color: white;
}

#btn-edit {
    float: right;
    justify-content: flex-end;
}

#btn-save {
    display: none;
    float: right;
    justify-content: flex-end;
}

#post-content {
    margin: auto;
    width: auto;
    padding: 10px;
    text-align: justify;
    word-wrap: break-word;
}

#comment {
    display: block;
    height: 70px;
    width: 70%;
    margin: 15px 0px 5px 0px;
}


#view-all-comments {
    display: none;
    background-color: rgb(145, 141, 141);
    padding: 5px;
    word-wrap: break-word;
}

.user-comments {
    background-color: white;
    margin: 5px;
    padding: 1%;
}

.editable {
    border: 2px solid pink;
}

@media screen and (max-width:400px) {
    #comment {
        width: 100%;
    }
}